<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="roofsense" level="DEBUG"/>
    <logger name="org.hibernate.SQL" level="debug"/>
    <logger name="org.hibernate.type.descriptor.sql" leve="trace"/>


    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
